#### Question 1 

<p>Download the Fashion_MNIST dataset. You can find it on the official Fashion-MNIST website or by using PyTorch's torchvision.datasets module. Split the dataset into training, validation and testing sets. A common split is 80% of the data to train, 10% to validate, and 10% to test scenarios, but you can adjust this as needed. Normalize the images. This involves scaling the pixel values to a range between 0 and 1.</p>

---

In [1]:
# !pip install torch
# !pip install torchvision

In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import os

import torch
from torchvision.datasets import FashionMNIST
import torchvision.transforms as transforms
from torch.utils.data import Dataset, random_split

In [3]:
# Reading dataset
train = FashionMNIST('./data', train=True, download=True)

test_set = FashionMNIST('./data', train=False, download=True)

In [4]:
# Spilt the Training and Validation dataset
train_size = int(0.8 * len(train))
val_size = int(0.2 * len(train))

train_set, val_set = random_split(train, [train_size, val_size])

In [5]:
train_set

#### Using Pandas and Numpy

In [7]:
# Using dataset in local
train = pd.read_csv('./Dataset/fashion-mnist_train.csv')

test = pd.read_csv('./Dataset/fashion-mnist_test.csv')

In [23]:
train_cols = train.columns

In [8]:
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Normalize training data
train_labels = train['label']

train_img = train.iloc[:, 1:]
train_img.values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
train_images_flat = train_img.values.reshape(train_img.shape[0], -1)

In [11]:
len(train_images_flat[1])

784

In [12]:
# Normalize training data
train_images_flat = train_images_flat.astype('float32') / 255.0

In [13]:
len(train_images_flat[1])

784

In [25]:
normalized_df = pd.DataFrame.from_records(train_images_flat, 
                                          columns = train_cols[1:])

normalized_df['labels'] = train_labels

In [26]:
normalized_df.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,labels
0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2
1,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,9
2,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.019608,0.0,0.0,...,0.0,0.0,0.117647,0.168627,0.000000,0.0,0.0,0.0,0.0,6
3,0.0,0.0,0.0,0.003922,0.007843,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.003922,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,3